# https://projects.torsion.org/witten/borgmatic/raw/branch/master/sample/systemd/borgmatic.service

[Unit]
Description=Backup Service Routine
Wants=network-online.target
After=network-online.target
ConditionACPower=true

[Service]
Type=simple
ExecStart=/usr/local/bin/bavice
User=bavice
Group=bavice

# Stricter execution environment. Other defensive options here seem to fail.
ProtectSystem=full
ReadWritePaths=-/usr/local/share/telegraf

# Lower CPU and I/O priority
Nice=19
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100
